<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/overview'">Portfolio</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <div class="table-container">
    <div *ngIf="portfolioItemList">

      <div *ngFor="let row of portfolioItemList">
        <h2>{{row.name}}</h2>
        <p>{{row.wkn }}</p>


      </div>
      <table>
        <tr>
          <th>Wkn</th>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Kategorie</th>
          <th>Gesamtanzahl</th>
          <th>Durchschnittspreis</th>

        </tr>
        <tr *ngFor="let row of portfolioItemList">
          <td>{{ row.wkn }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.totalQuantity }}</td>
          <td>{{ row.averagePrice | currency : '€ ' }}</td>


        </tr>

      </table>

      <!-- Weitere Details hier anzeigen -->

      <h3>Käufe:</h3>
      <table>
        <tr>
          <th>Kaufdatum</th>
          <th>Anzahl</th>
          <th>Kaufpreis</th>
          <th>Gesamtpreis</th>
        </tr>
        <tr *ngFor="let row of portfolioItemList">
          <td>{{ row.purchaseDate | date }}</td>
          <td>{{ row.quantity }}</td>
          <td>{{ row.purchasePrice | currency : '€ ' }}</td>
          <td>{{ row.totalPrice| currency : '€ ' }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>