<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/overview'">Portfolio</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <div class="table-container">
    <div *ngIf="portfolioDetailItem">

      <div>
        <h2>{{portfolioDetailItem.name}}</h2>
        <p>{{portfolioDetailItem.wkn }}</p>


      </div>
      <table>
        <tr>
          <th>Wkn</th>
          <th>Name</th>
          <th>Kategorie</th>
          <th>Gesamtanzahl</th>
          <th>Durchschnittspreis</th>
          <th>Beschreibung</th>


        </tr>
        <tr>
          <td>{{portfolioDetailItem.wkn}}</td>
          <td>{{ portfolioDetailItem.name }}</td>
          <td>{{ portfolioDetailItem.category }}</td>
          <td>{{ portfolioDetailItem.totalQuantity }}</td>
          <td>{{ portfolioDetailItem.averagePrice | currency : '€ ' }}</td>
          <td>{{ portfolioDetailItem.description }}</td>



        </tr>

      </table>

      <!-- Weitere Details hier anzeigen -->

      <h3>Käufe:</h3>
      <table>
        <tr>
          <th>Kaufdatum</th>
          <th>Anzahl</th>
          <th>Kaufpreis</th>
          <th>Gesamtpreis</th>
        </tr>
        <tr *ngFor="let row of portfolioDetailItem.portfolioItems">
          <td>{{ row.purchaseDate | date }}</td>
          <td>{{ row.quantity }}</td>
          <td>{{ row.purchasePrice | currency : '€ ' }}</td>
          <td>{{ row.totalPrice| currency : '€ ' }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>