<div *ngIf="!addedSuccessfully">

    <form (ngSubmit)="onSubmit()" #portfolioItemForm="ngForm" class="content">

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.name" disabled>
        </div>
        <div>

            <label for="isin">ISIN:</label>
            <input type="text" id="isin" name="isin" [(ngModel)]="formData.isin" disabled>

        </div>
        <div>
            <label for="description">Beschreibung:</label>
            <input type="text" id="description" name="description" [(ngModel)]="formData.description" disabled>
        </div>
        <div>
            <label for="type">Typ</label>
            <input type="text" id="type" name="type" [(ngModel)]="formData.type" disabled>
        </div>
        <div>
            <label for="quantity">Anzahl:</label>
            <input type="text" id="quantity" name="quantity" required [(ngModel)]="formData.quantity">
        </div>

        <button type="submit" [disabled]="!portfolioItemForm.valid">Hinzufügen</button>

    </form>
</div>


<div *ngIf="addedSuccessfully" class="content">

    <h3>Erfolgreich hinzugefügt!</h3>
    <button (click)="clean()">Erneut Hinzufügen</button>
    <button routerLink="/portfolio">Zurück zu Portfolio</button>
</div>