:host {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15vh;
  margin-top: 15vh;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .error-message {
    color: red;
    font-size: 0.85em;
    margin-bottom: 5px;
  }
}

@media (max-width: 1300px) {

  :host {
    margin-top: 10vh;
  }

}