<form (ngSubmit)="onSubmit()" #portfolioItemForm="ngForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" required [(ngModel)]="formData.name">
    </div>
    <div>
        <label for="wkn">Wkn:</label>
        <input type="text" name="wkn" required [(ngModel)]="formData.wkn">
    </div>
    <div>
        <label for="description">Beschreibung:</label>
        <input type="text" name="description" required [(ngModel)]="formData.description">
    </div>
    <div>
        <label for="category">Kategorie:</label>
        <input type="text" name="category" required [(ngModel)]="formData.category">
    </div>
    <div>
        <label for="quantity">Anzahl:</label>
        <input type="text" name="quantity" required [(ngModel)]="formData.quantity">
    </div>
    <div>
        <label for="purchasePrice">Kaufpreis:</label>
        <input type="text" name="purchasePrice" required [(ngModel)]="formData.purchasePrice">
    </div>
    <!-- Weitere Felder... -->
    <button type="submit" [disabled]="!portfolioItemForm.valid">Hinzufügen</button>



</form>