<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/portfolio'">Dein Portfolio</span>
  <span class="spacer"></span>

</mat-toolbar>
<p>kaufen<a href="http://localhost:4200/add-item"><button class="btn">+</button></a></p>
<div class="table-container">
  <table class="portfolio-table">
    <thead>
      <tr class="table-header">
        <th>WKN</th>
        <th>Name</th>
        <th>Total Quantity</th>
        <th>Average Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of portfolioItemList">
        <td><a (click)="onWknClick(row.wkn)">{{ row.wkn }}</a></td>
        <td>{{ row.name }}</td>
        <td>{{ row.totalQuantity }}</td>
        <td>{{ row.averagePrice | currency : '€ '}}</td>
        <td>{{ row.totalPrice | currency : '€ ' }}</td>
        <td><a href="http://localhost:4200/add-item"> <button class="button">+</button> </a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="paginator-container">
  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of products"></mat-paginator>
</div>