<h2 mat-dialog-title>Portfolioitem Kaufen</h2>
<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<mat-dialog-content>
  <div *ngIf="!loading">
    <div>
      <form (ngSubmit)="onSubmit()" class="content" [formGroup]="myForm">
        <mat-form-field>
          <input matInput placeholder="Name" [formControlName]="'name'" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ISIN" [formControlName]="'isin'" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Beschreibung" [formControlName]="'description'" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Typ" [formControlName]="'type'" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Anzahl" [formControlName]="'quantity'" required>
        </mat-form-field>
        <mat-dialog-actions>
          <button class="btn" type="submit" mat-raised-button color="primary"
            [disabled]="!myForm.valid">Hinzufügen</button>
          <button class="btn" mat-button [mat-dialog-close]="'close'">Schließen</button>
        </mat-dialog-actions>
      </form>
    </div>

  </div>

</mat-dialog-content>