.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; // Adjust height as needed for your dialog
  background-color: rgba(255, 255, 255, 0.8); // Optional: light background
}

mat-dialog-actions {
  justify-content: center;
  padding: 1rem;
}

form {
  width: 300px;
  margin: auto;
}


mat-form-field {
  width: 100%;
  margin-bottom: 15px;

}


mat-form-field input[matInput][readonly] {
  color: rgb(180, 180, 180);
}