/* You can add global styles to this file, and also import other style files */

$header-color: #67597A;
$toolbar-color: #544E61;
$table-header-color: #6E8894;
$button-color: #85BAA1;
$table-content-color: #CEEDDB;

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; // light

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}