<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/wknTable'">Wkn Tabelle</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <div class="table-container">
    <table mat-table [dataSource]="wknTableList" class="table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc" class="mat-elevation-z8">

      <!-- WKN Column -->
      <ng-container matColumnDef="wkn">
        <th mat-header-cell *matHeaderCellDef>WKN</th>
        <td mat-cell *matCellDef="let row">{{ row.wkn }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell *matHeaderCellDef>Kaufdatum</th>
        <td mat-cell *matCellDef="let row">{{ row.purchaseDate | date }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Anzahl</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity}}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell *matHeaderCellDef>Preis</th>
        <td mat-cell *matCellDef="let row">{{ row.purchasePrice | currency:'EUR '}}</td>
      </ng-container>

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="paginator-container">
    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of products"></mat-paginator>
  </div>
</div>