<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/portfolio'">Dein Portfolio</span>
  <span class="spacer"></span>

</mat-toolbar>
<div class="buy-container">
  <p class="buy-p">kaufen <a href="http://localhost:4200/add-item"><button class="btn">+</button></a></p>
</div>

<div class="table-container">

  <table class="portfolio-table">
    <thead>
      <tr class="table-header">
        <th>ISIN</th>
        <th>Name</th>
        <th>Anzahl</th>
        <th>Gewinn/Verlust</th>
        <th>Aktueller Gesamtpreis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of portfolioItemList">
        <td><a (click)="onWknClick(row.isin)">{{ row.isin}}</a></td>
        <td>{{ row.name }}</td>
        <td>{{ row.totalQuantity }}</td>
        <td [ngClass]="{'profit': row.profitLossSum > 0, 'loss': row.profitLossSum < 0}">
          {{ row.profitLossSum | currency : ' ' }} €</td>

        <td>{{ row.totalPrice | currency : ' ' }} €</td>
        <td> <button class="btn" (click)="sendCurrentItem(row.isin)">+</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="paginator-container">
  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of products"></mat-paginator>
</div>