/* General Styles */
:host {
  display: block;
  margin-top: 15px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* Toolbar Styles */
.mat-toolbar {
  background-color: #1976d2;
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

.mat-spinner {
  margin: 20px auto;
  display: block;
}

/* Container */
.container {
  position: relative;
}

/* Table Styles */
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  margin: 10vh 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 2vh;
  border-bottom: 2px solid #f0f0f0;
  border: 1px solid #ddd;
}

.table-header {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

/* Button Styles */
.buy-button,
.favorite-button {
  color: #1976d2;
  background-color: transparent;
  border: none;
  margin-left: 5vh;
  transform: scale(1.3);
  transition: transform 0.3s, color 0.3s;
}

.buy-button:hover {
  color: #14599f;
  transform: scale(1.4);
}

.favorite-button:hover {
  color: #c4c4c4;
  transform: scale(1.4);
}

/* Profit and Loss Styles */
.profit {
  font-weight: bolder;
  color: green;
}

.loss {
  font-weight: bolder;
  color: red;
}

/* Favorites */
.favorite {
  color: red;
}

.not-favorite {
  color: black;
}

/* Paginator */
.paginator-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #673ab7;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 1440px) {

  .buy-container,
  .table-container {
    margin: 10vh 2vh;
  }

  .buy-button,
  .favorite-button {
    transform: scale(1);
  }

  th,
  td {
    padding: 1vh;
  }

  .table-header {
    font-size: 14px;
  }

  .paginator-container {
    padding: 5px 0;
    font-size: 14px;
  }
}