<h2 mat-dialog-title>Portfolioitem Kaufen</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" class="content" [formGroup]="myForm">
    <mat-form-field>
      <input matInput formControlName="isin" placeholder="Isin" required [(ngModel)]="formData.isin" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="quantity" placeholder="Anzahl" required [(ngModel)]="formData.quantity" />
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button class="btn" type="submit" mat-raised-button color="primary">Hinzufügen</button>
    <button class="btn" mat-button [mat-dialog-close]="'close'">Schließen</button>
  </mat-dialog-actions>
</mat-dialog-content>