<h2 mat-dialog-title>Portfolioitem Kaufen</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" class="content" [formGroup]="myForm">
    <mat-form-field>
      <input matInput formControlName="isin" placeholder="Isin" required
        [(ngModel)]="formData.isin" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="quantity" placeholder="Anzahl" required
        [(ngModel)]="formData.quantity" />
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="isLoading"
        (click)="onSubmit()">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span *ngIf="!isLoading">Hinzufügen</span>
      </button>
      <button class="btn" mat-button
        [mat-dialog-close]="'close'">Schließen</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>