<mat-toolbar color="primary">
  <span class="header-title" [routerLink]="'/overview'">Impressum</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <p>
    Your Company Name<br />
    Street Address<br />
    City, Country<br />
    Phone: +123 456 789<br />
  </p>

  <h3>Legal Information</h3>
  <p>
    Register court: Your Court<br />
    Registration number: XXXXXXXX<br />
    VAT ID: DE123456789
  </p>

  <h3>Disclaimer</h3>
  <p>Your disclaimer text goes here...</p>
</div>
