:host {
  padding-left: 8px;
}

.impressum-container {
  margin: 20px auto;
  font-family: "Arial", sans-serif;
}

h2,
h3 {
  color: #333;
}

p {
  line-height: 1.6;
}

.container {
  padding-left: 8px;
}
