:host {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: 200px;
  margin-top: 200px;
}

.logout-container {
  display: flex;
  flex-flow: column;
  justify-content: center;

  p {
    font-size: 24px;
    color: #333;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}
